div.navigation {
  display: flex;
  flex-direction: column;

  div {
    width: 100%;
  }

  div:last-child {
    text-align: right;
  }

  a {
    display: flex;
    flex-direction: row;
    justify-content: center;

    p {
      width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 10px;
    }
  }
}

@media (min-width: @wide-1-breakpoint) {
  div.navigation {
    display: flex;
    flex-direction: row;

    div {
      width: 50%;
    }
  }
}

.back-to-posts {
  text-align: center;
}
